{% extends 'base.html' %}

{% block pagecontent %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">Acerca de Mi</h1>
        </div>
        <div class="card-body">
            <p>
                Soy un técnico en redes informáticas especializado en la creación, administración y mantenimiento de redes de datos en hoteles. La complejidad de mi trabajo me inspiró a desarrollar este proyecto como parte del desafío final del curso de Python en Coderhouse. Aproveché esta oportunidad para iniciar esta aplicación, que tiene como objetivo principal la creación de tareas personalizadas para ayudar a organizar mis actividades laborales.            </p>
            <p>
                Hasta el momento, he invertido tiempo en crear este bosquejo que permite a cada usuario generar listas de tareas, cambiar el estado de las tareas entre "abiertas" y "cerradas", así como eliminar listas completas. En futuras actualizaciones, planeo implementar la capacidad de establecer fechas de vencimiento para las tareas y generar alertas para recordar cuando una tarea está próxima a vencer.
            </p>
        </div>
    </div>
</div>
{% endblock %}
