{% extends 'base.html' %}

{% block pagecontent %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">Acerca de Nosotros</h1>
        </div>
        <div class="card-body">
            <p>
                Bienvenido a nuestro sitio web. Somos un equipo apasionado de desarrolladores que se dedican a crear soluciones web increíbles utilizando Django y otras tecnologías de vanguardia.
            </p>
            <p>
                En nuestro sitio, puedes encontrar una variedad de características y servicios diseñados para hacer tu vida más fácil. Desde la gestión de tareas hasta la colaboración en proyectos, estamos aquí para ayudarte.
            </p>
            <p>
                No dudes en ponerte en contacto con nosotros si tienes alguna pregunta o sugerencia. Estamos ansiosos por escucharte y mejorar constantemente nuestro sitio.
            </p>
        </div>
    </div>
</div>
{% endblock %}
