{% extends 'base.html' %}

{% block pagecontent %}
  
<div class="container-fluid  pt-4">
  <section>
      <div class="page-header">
        <h1>Dashboard</h1>
      </div>
      <br>
      <ul class="list-group">
          {% for owner_id, tasks in tasks_by_owner.items %}
          <li class="list-group-item">
              <div class="d-flex justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target="#owner-{{ owner_id }}">
                  <span>Tareas de {{ tasks.0.owner.username }}</span>
                  <i class="fas fa-chevron-down"></i>
              </div>
              <div class="collapse" id="owner-{{ owner_id }}">
                  <ul class="list-group">
                      {% for task in tasks %}
                      <li class="list-group-item">
                        <a href="{% url  'DetailTasks' task.id %}">{{ task.task_name }} </a><p style="float: right;">vence: {{ task.deadline }}</p>
                      </li>
                      {% endfor %}
                  </ul>
              </div>
          </li>
          {% endfor %}
      </ul>
  </section>
</div>

  
  {% endblock %}