<style>
/* Establece el color de texto normal (en este caso, blanco) */

/* Cambia el color del texto al pasar el mouse sobre el enlace */
.nav:hover {
    color: #f5f5f5 !important; /* Puedes cambiar el color a tu preferencia */
}

</style>

<div class="border-end sidebar navbar-dark bg-dark" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom sb-sidenav-dark">Proyecto Coder</div>
    <div class="list-group list-group-flush">
        <a class="nav-item nav  bg-dark color-test list-group-item list-group-item-action p-3" href="{% url 'Dashboard' %}">Dashboard</a>
        <a class="nav-item nav  bg-dark list-group-item list-group-item-action p-3" href="{% url 'ListTasks' %}">Tareas</a>
        <a class="nav-item nav  bg-dark list-group-item list-group-item-action p-3 mt-auto" href="{% url 'About' %}">Acerca de Mi</a>
        <a class="nav-item nav  bg-dark list-group-item list-group-item-action p-3 mt-auto" href="{% url 'conversation_list' %}">Mensajes BETA</a>
        <a class="nav-item nav  bg-dark list-group-item list-group-item-action p-3 mt-auto" href="{% url 'enviar_mensaje' %}">Enviar Mensaje BETA</a>
        <a class="nav-item nav  bg-dark list-group-item list-group-item-action p-3 mt-auto" href="{% url 'Help' %}">Ayuda</a>
    </div>
</div>

