<head>
<!-- CSS de Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- CSS de DatePicker -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">

<!-- jQuery (necesario para DatePicker) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Bootstrap JS (asegúrate de cargarlo después de jQuery) -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- DatePicker JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
</head>

{% extends 'base.html' %}

{% load static %}

{% block pagecontent %}

{% if taskForm.errors %}

<p> Datos incorrectos</p>

{% endif %}

<form action="{% url  'CreateTask' %}" method="post">{% csrf_token %}
        
        {{ form.as_p }}
    
    <input type="submit" value="Enviar">

</form>
{% endblock %}
<!--
<div class="container">
    <div class="row">
      <div class="col-md-6">
        <label for="fecha">Selecciona una fecha:</label>
        <div class="input-group date" data-provide="datepicker">
          <input type="text" class="form-control" id="fecha" readonly>
          <div class="input-group-addon">
            <span class="glyphicon glyphicon-th"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <script>
      $(document).ready(function(){
          $('.input-group.date').datepicker({
              format: "dd/mm/yyyy", // Puedes personalizar el formato de fecha
              autoclose: true
            });
        });
    </script>
-->
    